asgiref @ file:///Users/cbousseau/work/recipes/ci_py311/asgiref_1677957028708/work
black==23.11.0
click==8.1.7
Django @ file:///Users/cbousseau/work/recipes/ci_py311/django_1677970851911/work
django-debug-toolbar==4.2.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.1.0
sqlparse @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_16ptvrhamb/croot/sqlparse_1690901943673/work
