.suggestion {
    display : grid;
    grid-template-columns: 32px 2fr 1fr;
    align-items: center;

    .avatar {
        justify-self: center;
    }
    .username {

    }
    
    .actions {
        justify-self: end;
    }
}